<section class="products-area">
  <div class="card" *ngFor="let product of allProducts" [class.hide]="product.show == false">
    <div class="productImg">
      <img src="{{product.img_url}}" routerLink="/product_details/{{product.id}}">
    </div>
    <div class="details">
      <h6>{{product.category}}</h6>
      <h2 routerLink="/product_details/{{product.id}}">{{product.name}}</h2>
      <div class="price">
        <span *ngIf="product.discount">{{product.price}} EGP</span>
        {{product.new_price}} EGP
      </div>
      <button class="mainBtn" (click)="handleAddToCart(product)" *ngIf="!product.in_my_cart">Add to cart</button>
      <button class="added_to_cart" *ngIf="product.in_my_cart">Added to cart</button>
    </div>
  </div>

  <div class="no_data" *ngIf="noResultsFound == true">
    <img src="assets/svg/illustrations/no-data.svg" alt="No results found">
    <p>No results found...</p>
  </div>
</section>

<!-- This item is already exist in your cart -->
<div class="msg" *ngIf="itemIsExistInCart">
  This item is already exist in your cart!
</div>

<!-- I'm gonna display this icon in phone screen -->
<div class="cartIcon_sm" routerLink="/shopping_cart" *ngIf="cartLength">
  <div class="icon">
    <img src="assets/svg/shopping-cart2.svg" alt="My Cart">
    <div class="cart-length">{{cartLength}}</div>
  </div>
</div>

