<section class="cart" *ngIf="products.length > 0">
  <!-- cart_products -->
  <div class="cart_products">
    <h2>Cart products</h2>
    <div class="product" *ngFor="let product of products">
      <div class="product_img">
        <img src="{{product.img_url}}" alt="">
      </div>
      <!-- Content -->
      <div class="content">
        <div class="name">{{product.name}}</div>
        <div class="price">
          <span *ngIf="product.discount">{{product.price}} EGP</span>
          {{product.new_price}} EGP
        </div>
        <div class="qty">
          <span>QTY: </span>
          <div>
            <button class="minus" (click)="handleQTY($event, product)" [disabled]="product.qty == 1">-</button>
            <input #number readonly class="number" type="text" [value]="product.qty">
            <button class="plus" (click)="handleQTY($event, product)">+</button>
          </div>
        </div>
        <div class="final_price">Final price: <span>{{product.total_price}} EGP</span></div>
      </div>
      <!-- More details & Delete Icons -->
      <div class="icons">
        <img src="assets/svg/about.svg" alt="More details icon" routerLink="/product/{{product.id}}">
        <img src="assets/svg/delete.svg" alt="Delete icon" (click)="deleteProduct(product)">
      </div>
    </div>
  </div>
  <!-- SUMMARY -->
  <div class="summary">
    <h2>Cart summary</h2>
    <ul>
      <li>
        <label>Subtotal:</label>
        <input type="text" readonly value="{{subtotalPrice}} EGP">
      </li>
      <!-- / -->
      <li>
        <label>Shipping:</label>
        <input type="text" readonly value="Free">
      </li>
      <!-- / -->
      <li>
        <label>Total:</label>
        <input type="text" readonly value="{{subtotalPrice}} EGP">
      </li>
    </ul>
    <button class="mainBtn checkout_btn" routerLink="/checkout">Checkout</button>
  </div>
</section>

<!-- If Cart Empty -->
<div class="container if_cart_empty" *ngIf="products.length == 0">
  <h2>Your cart is empty</h2>
  <img src="assets/svg/illustrations/empty.svg" alt="You cart is empty">
  <button routerLink="/">Go to shopping</button>
</div>