<header>
  <!-- Left -->
  <ul class="left">
    <li routerLink="/shopping" routerLinkActive="active">shopping</li>
    <li routerLink="/about" routerLinkActive="active">About</li>
  </ul>
  <!-- Brand -->
  <div class="brand">
      <img src="assets/svg/essence.svg" alt="Essence's logo">
  </div>
  <!-- right -->
  <div class="right">
    <div class="search">
      <img src="assets/svg/search.svg">
      <input type="text" placeholder="Search" [ngModel]="searchQueryWord" (ngModelChange)="shareQuerWord($event)">
    </div>
    <div class="user_icon">
      <img src="assets/svg/user.svg" *ngIf="!user">
      <div class="firstChar" *ngIf="user">{{firstChar}}</div>
    </div>
    <div class="shopping-cart" routerLink="shopping_cart">
      <div class="icon">
        <img src="assets/svg/shopping-cart.svg">
        <div class="cart-length" *ngIf="cartLength">{{cartLength}}</div>
      </div>
    </div>
  </div>
</header>