<header>
  <div class="navbar">
    <img src="assets/svg/essence.svg" alt="logo">
    <ul>
      <li>shop</li>
      <li>pages</li>
      <li>blog</li>
      <li>contact</li>
    </ul>
  </div>
  <!-- / -->
  <div class="actions">
    <div class="search">
      <img src="assets/svg/search.svg">
      <input type="text" placeholder="Search">
    </div>
    <div class="favourite">
      <img src="assets/svg/like.svg">
    </div>
    <div class="shopping-cart">
      <img src="assets/svg/shopping-cart.svg">
    </div>
  </div>
</header>