.lg_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  z-index: 99;
  max-height: 80px;
  font-family: "Montserrat", sans-serif;
  padding: 0 60px;
  height: 70px;
}
/* Navbar */

.lg_header > * {
  width: calc(100% / 3);
}
/* Left section */
ul.left {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
ul.left li {
  padding: 0;
  outline: 0;
  margin-right: 30px;
  color: #2d2d2d;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.left li.active {
  position: relative;
  color: var(--pColor);
}
.left li.active::after {
  content: "";
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 30px;
  height: 4px;
  background-color: var(--pColor);
  border-radius: 15px;
  transform: scaleX(0) translateX(-10px);
  animation: afterOfActiveLink 0.2s ease forwards;
}
@keyframes afterOfActiveLink {
  to {
    transform: scaleX(1) translateX(0);
  }
}

/* BRAND */
.lg_header .brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lg_header .brand img {
  width: 100px;
}

/* Right section */
.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.right > div {
  position: relative;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right > div::after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(100% + 15px);
  transform: translateY(-50%);
  height: 23px;
  width: 2px;
  border-radius: 15px;
  background-color: #f0f0f0;
}
.right > div:first-of-type::after,
.right .dots {
  display: none;
}

/* user icon */
.user_icon img {
  width: 36px;
}

.search input {
  border: 0;
  outline: 0;
  height: 36px;
  width: 90px;
  flex: 1;
  color: #777;
  transition: 0.3s ease-out;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  background-color: #f3f3f3;
  border-radius: 50px;
  padding: 15px;
}
.search input:focus {
  width: 250px;
}
.search img {
  width: 18px;
  margin-right: 10px;
  cursor: pointer;
}
.shopping-cart {
  cursor: pointer;
  outline: 0;
}
.shopping-cart img {
  width: 33px;
}
.shopping-cart .icon {
  position: relative;
}
.shopping-cart .cart-length {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: var(--sColor);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10px, -8px);
}
.firstChar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f3f3f3;
  color: #1f1f20;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}
@media (min-width: 575px) and (max-width: 780px) {
  .lg_header {
    padding: 0 40px;
  }
  .search input {
    background-color: #f4f4f4;
    border-radius: 50px;
    padding: 15px;
    height: 38px;
    width: 90px;
  }
}

/* PHONE SCREEN */
@media all and (max-width: 575px) {
  .sm_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 65px;
    padding: 0 24px;
    background-color: #2d2d2d;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  .sm_header > div {
    flex: 1;
  }
  .sm_header .brand img {
    width: 85px;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    outline: 0;
  }
  .sm_header .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .sm_header .search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
  .sm_header .search img {
    width: 24px;
    margin: 0;
  }
  .sm_header .search input {
    /* border: 0; */
    outline: 0;
    border: 1px solid #555;
    background-color: #222;
    border-radius: 40px;
    margin-right: 10px;
    height: 40px;
    padding: 10px 14px;
    color: #fff;
    transform: scaleX(0);
    opacity: 0;
    transform-origin: right;
  }
  .sm_header input:focus {
    animation: showSearchInp 0.4s ease-in-out forwards;
  }
  @keyframes showSearchInp {
    to {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  .sm_header .menu_icon img {
    width: 6px;
    margin-left: 15px;
  }

  /* DROP MENU */
  .menu_icon {
    position: relative;
    margin-left: 5px;
    display: flex;
    align-items: center;
  }
  .menu_icon img {
    width: 30px;
  }
  .menu_icon .drop_menu {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    padding: 6px 0;
    width: 220px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 600;
  }
  .drop_menu ul {
    padding: 8px 0;
  }
  .drop_menu ul li {
    padding: 8px 20px;
    text-transform: uppercase;
    outline: 0;
  }
  .user_icon {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
  }
  .user_icon .firstChar {
    margin-right: 10px;
  }
  .drop_menu > div:last-of-type {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding: 13px 20px;
  }
}
