/* Phone */
@media all and (max-width: 575px) {
  header {
    padding: 0 24px;
    height: 50px;
    background-color: var(--pColor);
  }
  /* Left */
  header .left {
    display: none;
  }
  /* Brand */
  .brand {
    justify-content: flex-start;
  }
  .brand img {
    width: 65px;
  }
  /* Right */
  .right > div,
  .right > div::after {
    display: none;
  }
  .right .search,
  .right .dots {
    display: flex;
  }
  .dots {
    margin-left: 20px;
  }
  .dots img {
    width: 6px;
  }
  .dots .drop_menu {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    padding: 6px 0;
    width: 220px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 600;
  }
  .drop_menu ul {
    padding: 8px 0;
  }
  .drop_menu ul li {
    padding: 8px 20px;
    text-transform: uppercase;
    outline: 0;
  }
  .user_icon {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
  }
  .user_icon .firstChar {
    margin-right: 10px;
  }
  .drop_menu > div:last-of-type {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
  }

  .search img {
    margin: 0;
    width: 20px;
  }
  .search input {
    height: 30px;
    width: 0;
  }
}
