.steps {
  padding: 0;
  margin: 60px auto 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step {
  display: flex;
  align-items: center;
  justify-content: center;
}
.step.active .number {
  border: 2px solid var(--pColor);
  color: var(--pColor);
  font-weight: 700;
}
.step .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ddd;
  color: #666;
  font-size: 16px;
  position: relative;
}
.step .number::after {
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}
.shipping .number::after {
  content: "shipping";
}
.payment .number::after {
  content: "payment";
}
.done .number::after {
  content: "done";
}
.step .line {
  height: 2px;
  width: 200px;
  background-color: #ddd;
}
