form {
  padding: 30px 30px 0;
}
form .mainBtn {
  width: 100%;
  padding: 12px;
  background-color: var(--pColor);
  color: #fff;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0 15px;
}
button[disabled] {
  opacity: 0.7;
  cursor: auto;
}
.err_msg {
  background-color: #f03d25;
  color: #fff;
  width: calc(100% + 60px);
  transform: translate(-30px, -30px);
  padding: 10px 30px;
}
.err_msg p {
  margin: 0;
}
.err_msg button {
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
}
