.products-area {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card {
  padding: 8px 0;
  margin: 0 10px 20px;
  width: calc(100% / 4 - 20px);
  border: 1px solid #ddd;
}
.card.hide {
  display: none;
}
.card .productImg {
  max-width: 96%;
  height: 240px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card .details {
  padding: 0 16px;
}
.card h6 {
  color: #787878;
  font-size: 14px;
  margin: 12px 0 0;
}
.card h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 4px 0 8px;
  cursor: pointer;
  outline: 0;
}
.card h2:hover {
  color: var(--pColor);
}
.card .price {
  font-size: 15px;
  font-weight: bold;
  color: var(--sColor);
}
.card .price span {
  color: #787878;
  text-decoration: line-through;
  margin-right: 8px;
  opacity: 0.8;
}
.card button {
  font-size: 15px;
  font-weight: bold;
  margin: 12px 0 10px;
  width: 100%;
  background-color: var(--pColor);
  color: #fff;
  padding: 11px;
}
.card button.added_to_cart {
  background-color: #ddd;
  color: #333;
  cursor: auto;
}

/* No results found */
.no_data {
  flex: 1;
}
.no_data img {
  width: 200px;
  margin: auto;
  display: block;
}
.no_data p {
  color: #898989;
  font-size: 14px;
  margin: 20px auto;
  text-align: center;
}
