.products-area {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card {
  padding: 8px 0;
  margin: 0 10px 20px;
  width: calc(100% / 4 - 20px);
  border: 1px solid #ddd;
}
.card.hide {
  display: none;
}
.card .productImg {
  max-width: 96%;
  height: 240px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card .details {
  padding: 0 16px;
}
.card h6 {
  color: #787878;
  font-size: 14px;
  margin: 12px 0 0;
}
.card h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 4px 0 8px;
  cursor: pointer;
  outline: 0;
}
.card h2:hover {
  color: var(--pColor);
}
.card .price {
  font-size: 15px;
  font-weight: bold;
  color: var(--sColor);
}
.card .price span {
  color: #787878;
  text-decoration: line-through;
  margin-right: 8px;
  opacity: 0.8;
}
.card button {
  margin: 12px 0;
  width: 100%;
}
.card .added_to_cart {
  cursor: auto;
  background-color: #ddd;
  color: #333;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}
/* msg */
.msg {
  padding: 0 30px;
  height: 54px;
  line-height: 54px;
  border-radius: 4px;
  background-color: #111;
  color: #fff;
  position: fixed;
  bottom: 30px;
  left: 60px;
  transform: translateY(100px) scale(0.85);
  opacity: 0.5;
  animation: showMsg 0.3s ease forwards;
}
@keyframes showMsg {
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/* No results found */
.no_data {
  flex: 1;
}
.no_data img {
  width: 200px;
  margin: auto;
  display: block;
}
.no_data p {
  color: #898989;
  font-size: 14px;
  margin: 20px auto;
  text-align: center;
}
.cartIcon_sm {
  display: none;
}

@media (min-width: 780px) and (max-width: 1100px) {
  .card {
    width: calc(100% / 3 - 20px);
  }
}
@media (min-width: 575px) and (max-width: 780px) {
  .card {
    width: calc(100% / 2 - 20px);
  }
}

/* PHONE */
@media all and (max-width: 575px) {
  .products-area {
    padding-top: 15px;
  }
  .card {
    width: 100%;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  }

  .cartIcon_sm {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--sColor);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cartIcon_sm .icon {
    position: relative;
    transform: translateY(5px);
  }
  .cartIcon_sm img {
    width: 35px;
  }
  .cartIcon_sm .cart-length {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid var(--sColor);
    background-color: #fff;
    color: var(--sColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10px, -8px);
  }
}
