<section class="products-area">
  <div class="card" *ngFor="let product of allProducts">
    <div class="productImg">
      <img src="{{product.img_url}}">
    </div>
    <div class="details">
      <h6>{{product.category}}</h6>
      <h2 (click)="giveMeTheProduct(product)" routerLink="product/{{product.id}}">{{product.name}}</h2>
      <div class="price">
        <span *ngIf="product.discount">{{product.price}} EGP</span>
        {{product.new_price}} EGP
      </div>
      <!-- {{product.in_my_cart}} -->
      <button #addBtn (click)="handleAddToCart(product)" *ngIf="!product.in_my_cart">Add to cart</button>
      <button #removeBtn (click)="removeProductFromCart(addBtn, product, cart)" *ngIf="product.in_my_cart" class="removeBtn">Delete from cart</button>
    </div>
  </div>
</section>