<header [class.search_input_focused]="searchInputFocused">
  <!-- Left -->
  <ul class="left">
    <li routerLink="/shopping" routerLinkActive="active">shopping</li>
    <li routerLink="/about" routerLinkActive="active">About</li>
  </ul>
  <!-- don't Render logo if user focus on search input and window screen width less than 1200 px  -->
  <div class="brand" *ngIf="!searchInputFocused || windowScreenWidth > 1200">
      <img src="assets/svg/logo.svg" alt="Essence's logo" routerLink="/shopping">
  </div>
  <!-- right -->
  <ul class="right">
    <!-- Search -->
    <li class="search">
      <img src="assets/svg/search.svg" (click)="searchInput.focus()">
      <input #searchInput type="text" placeholder="Search" [ngModel]="searchQueryWord"
      (focus)="toggleSearchFocused()" (focusout)="toggleSearchFocused()" (ngModelChange)="shareQuerWords($event)">
    </li>
    <!-- don't Render Avatar if user focus on search input and window screen width less than 900 px  -->
    <li class="avatar" (click)="toggleDropMenu()" *ngIf="!searchInputFocused || windowScreenWidth > 900">
      <img src="assets/svg/avatar.svg" *ngIf="!isUserLoggedIn">
      <div class="firstChar" *ngIf="isUserLoggedIn">{{userName.charAt(0)}}</div>
      <!-- DROPMENU && background overlay -->
      <div class="bg_overlay" *ngIf="dropMenuIsOpen"></div>
      <ul class="drop_menu" *ngIf="dropMenuIsOpen">
        <!-- Name -->
        <li class="name" *ngIf="isUserLoggedIn">
            Signed in as
            <strong>{{userName}}</strong>
        </li>
        <!-- Divider -->
        <div class="dropdown_divider" *ngIf="isUserLoggedIn"></div>
        <!-- Pages -->
        <ul class="pages" (window:resize)="onResize($event)">
          <li routerLink="/shopping" routerLinkActive="active">shopping</li>
          <li routerLink="/about" routerLinkActive="active">About</li>
          <li routerLink="/cart" routerLinkActive="active">Cart <span>0</span></li>
        </ul>
        <!-- Divider -->
        <div class="dropdown_divider"></div>
        <!-- Login || logout -->
        <li *ngIf="!isUserLoggedIn" (click)="logIn()">Log In</li>
        <li *ngIf="isUserLoggedIn" (click)="logOut()">Log Out</li>
      </ul>
    </li>
    <!-- don't Render cart if user focus on search input and window screen width less than 900 px  -->
    <li class="cart" routerLink="cart" *ngIf="!searchInputFocused || windowScreenWidth > 900">
      <div class="icon">
        <img src="assets/svg/cart.svg" alt="My Cart image">
        <div class="cart-length" *ngIf="cartLength">{{cartLength}}</div>
      </div>
    </li>
  </ul>
</header>
