<header class="lg_header" *ngIf="!phoneMode">
  <!-- Left -->
  <ul class="left">
    <li routerLink="/shopping" routerLinkActive="active">shopping</li>
    <li routerLink="/about" routerLinkActive="active">About</li>
  </ul>
  <!-- Brand -->
  <div class="brand">
      <img src="assets/svg/essence.svg" alt="Essence's logo" *ngIf="!ipadAndSmallPcMode || ipadAndSmallPcMode && !focusOnSearchInp">
  </div>
  <!-- right -->
  <div class="right">
    <div class="search">
      <img src="assets/svg/search.svg" (click)="lg_searchInp.focus()">
      <input #lg_searchInp type="text" placeholder="Search" [ngModel]="searchQueryWord"
      (focus)="handleSearchMode()" (focusout)="handleSearchMode()" (ngModelChange)="shareQuerWord($event)">
    </div>
    <div class="user_icon" (click)="toggleDropMenu()">
      <img src="assets/svg/user.svg" *ngIf="!isUserLoggedIn">
      <div class="firstChar" *ngIf="isUserLoggedIn">{{userName.charAt(0)}}</div>
      <!-- DROPMENU -->
      <div class="bg" *ngIf="dropMenuIsOpen"></div>
      <div class="drop_menu" *ngIf="dropMenuIsOpen">
          <div class="name" *ngIf="isUserLoggedIn">Hi, {{userName}}</div>
          <div *ngIf="!isUserLoggedIn" (click)="logIn()">Log In</div>
          <div *ngIf="isUserLoggedIn" (click)="logOut()">Log Out</div>
        </div>
    </div>
    <div class="shopping-cart" routerLink="cart">
      <div class="icon">
        <img src="assets/svg/cart.svg" alt="My Cart image">
        <div class="cart-length" *ngIf="cartLength">{{cartLength}}</div>
      </div>
    </div>
  </div>
</header>



<!-- Header On phone screen -->
<header class="sm_header" *ngIf="phoneMode">
  <div class="brand" *ngIf="!focusOnSearchInp">
    <img src="assets/svg/essence.svg" alt="Essence's logo" class="brand" routerLink="/">
  </div>
  <div class="actions">
    <div class="search">
      <input #searchInp type="text" placeholder="Search" [ngModel]="searchQueryWord"
        (focus)="handleSearchMode()" (focusout)="handleSearchMode()" (ngModelChange)="shareQuerWord($event)">
      <img src="assets/svg/search2.svg" (click)="searchInp.focus()">
    </div>
    <div class="menu_icon" (click)="toggleDropMenu()" *ngIf="!focusOnSearchInp">
      <img src="assets/svg/dots2.svg" alt="Open dropdown menu">
      <div class="bg" *ngIf="dropMenuIsOpen"></div>
      <div class="drop_menu" *ngIf="dropMenuIsOpen">
        <div class="user_icon" *ngIf="isUserLoggedIn">
          <div class="firstChar" *ngIf="isUserLoggedIn">{{userName.charAt(0)}}</div>
          <div class="name">Hi, {{userName}}</div>
        </div>
        <ul>
          <li routerLink="/shopping" routerLinkActive="active">Shopping</li>
          <li routerLink="/about" routerLinkActive="active">About</li>
          <li routerLink="/shopping_cart" routerLinkActive="active">My cart</li>
        </ul>
        <div *ngIf="!isUserLoggedIn" (click)="logIn()">Log In</div>
        <div *ngIf="isUserLoggedIn" (click)="logOut()">Log Out</div>
      </div>
    </div>
  </div>
</header>