.container {
  padding: 30px 50px;
  display: flex;
  justify-content: flex-end;
}
/* Products area */
.shop-sidebar-area {
  width: 17%;
  position: fixed;
  top: 100px;
  left: 60px;
}
.products-area {
  width: 79%;
}

/* IPAD */
@media (min-width: 575px) and (max-width: 1100px) {
  .container {
    padding: 30px 20px;
  }
  .shop-sidebar-area {
    width: 21%;
    top: 100px;
    left: 30px;
  }
  .products-area {
    width: 74%;
  }
}

/* PHONE */
@media all and (max-width: 575px) {
  .container {
    padding: 20px;
  }
  .shop-sidebar-area {
    display: none;
  }
  .products-area {
    width: 100%;
  }
}
