.container {
  padding: 30px 50px;
  display: flex;
  justify-content: flex-end;
}
/* Products area */
.shop-sidebar-area {
  width: 17%;
  position: fixed;
  top: 110px;
  left: 60px;
}
.products-area {
  width: 79%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.content {
  width: 400px;
  background-color: #fff;
  padding-bottom: 30px;
  margin: 30px auto;
}
.the_other_choise {
  font-size: 18px;
  margin-left: 30px;
}
.the_other_choise button {
  border: 0;
  outline: 0;
  color: var(--pColor);
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  margin-left: 8px;
}
.the_other_choise button:hover {
  text-decoration: underline;
}
