.container {
  padding: 30px 50px;
  display: flex;
  justify-content: flex-end;
}
/* Products area */
.shop-sidebar-area {
  width: 17%;
  position: fixed;
  top: 110px;
  left: 60px;
}
.products-area {
  width: 79%;
}
