.container {
  padding: 20px 50px;
  display: flex;
  justify-content: flex-end;
}
/* Products area */
.shop-sidebar-area {
  width: 19%;
  position: fixed;
  top: 100px;
  left: 60px;
}
.products-area {
  width: 77%;
}
