<div class="container">
  <section class="shop-sidebar-area">
    <div class="categories">
      <h4>categories</h4>
      <ul>
        <li *ngFor="let category of listOfCategories" (click)="giveMeTheCategoryName($event, cateforyName)">
          <div><img src="{{category.img_url}}"></div>
          <span #cateforyName>{{category.name}}</span>
        </li>
      </ul>
    </div>
  </section>
  <div class="row">
    <section class="product-area offset-md-3 col-md-9">
      <app-product-card [activeCategory]="categoryName"></app-product-card>
    </section>
  </div>
</div>