.container {
  padding: 30px 50px;
  display: flex;
  justify-content: flex-end;
}
/* Products area */
.shop-sidebar-area {
  width: 17%;
  position: fixed;
  top: 110px;
  left: 60px;
}
.products-area {
  width: 79%;
}
@media all and (max-width: 575px) {
  .container {
    padding: 20px;
  }
  .shop-sidebar-area {
    display: none;
  }
  .products-area {
    width: 100%;
  }
}
