<div class="bg-wrapper"></div>
<div class="container">
  <section class="about_product">
    <div class="productImg">
      <img src="{{product.img_url}}">
    </div>
    <!-- / -->
    <div class="details">
      <h6>{{product.category}}</h6>
      <h2>{{product.name}}</h2>
      <div class="price">
        <span *ngIf="product.discount">{{product.price}} EGP</span>
        {{product.new_price}} EGP
      </div>
      <p>{{product.description}}</p>
      <button #addBtn (click)="handleAddToCart(product)" *ngIf="!product.in_my_cart">Add to cart</button>
      <button #removeBtn *ngIf="product.in_my_cart" class="added_to_cart">Added to cart</button>
    </div>
  </section>
</div>


<div class="cartIcon_sm" routerLink="/shopping_cart" *ngIf="cartLength">
  <div class="icon">
    <img src="assets/svg/shopping-cart2.svg" alt="My Cart">
    <div class="cart-length">{{cartLength}}</div>
  </div>
</div>