.bg-wrapper {
  background-color: var(--pColor);
  background-color: #371f72;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 36vh;
}
.container {
  padding-top: 70px;
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 1100px;
  margin: auto;
}
.about_product {
  margin: auto;
  padding: 50px;
  border-radius: 6px;
  display: flex;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.16);
}
.productImg {
  flex-basis: 50%;
  padding: 0;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productImg img {
  max-width: 100%;
  max-height: 300px;
  min-height: 230px;
}
.details {
  flex-basis: 50%;
  padding: 0;
}
h6 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  color: #787878;
  font-weight: 500;
}
h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}
.price {
  font-size: 16px;
  font-weight: bold;
  color: var(--sColor);
}

.price span {
  color: #787878;
  text-decoration: line-through;
  margin-right: 8px;
  opacity: 0.8;
}
p {
  line-height: 1.6;
  color: #787878;
  font-size: 16px;
  margin-bottom: 24px;
}
button {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  background-color: var(--pColor);
  color: #fff;
  padding: 12px 60px;
}
button.added_to_cart {
  background-color: #ddd;
  color: #333;
  cursor: auto;
}

/* ======================== NEW ==================== */
@media (max-width: 1000px) {
  .about_product {
    padding: 30px;
  }
}

@media (max-width: 880px) {
  .about_product {
    display: block;
    padding: 40px;
  }
  .productImg {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .container {
    padding-top: 40px;
  }
  .about_product {
    padding: 20px;
    padding-bottom: 30px;
  }
  button {
    width: 100%;
  }
}
