.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transform: translateY(-10px);
}
.illustration img {
  width: 600px;
}
.content {
  padding: 60px 30px 30px 60px;
}
h1 {
  margin: 20px 0;
  font-size: 30px;
}
a.starOnGit {
  text-decoration: none;
  background-color: rgba(2, 87, 233, 0.1);
  color: var(--pColor);
  border-radius: 2px;
  height: 50px;
  line-height: 50px;
  padding: 0 40px;
  margin: 30px auto;
  display: inline-block;
  font-weight: 600;
  transition: 0.3s ease;
}
a.starOnGit:hover {
  background-color: var(--pColor);
  color: #fff;
}
p {
  font-weight: 500;
  margin-top: 30px;
}
p a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}
