<section class="about">
  <img src="assets/svg/illustrations/developer-activity.svg" alt="Developer Activity">
  <div class="content">
    <h1>Essence is an e_commerce application for training on Angular with dummy data</h1>
    <p>My name is <a href="https://github.com/heshamabdulzaher" target="_blank" rel="noopener">Hesham Abdulzaher</a> and I'm a front-end developer 😄</p>
    <a href="https://github.com/heshamabdulzaher/E-commerce-app-with-Angular" target="_blank" rel="noopener" class="starOnGit">Star on Github</a>
  </div>
</section>