.about {
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start; */
  /* direction: rtl; */
  position: relative;
}
img {
  width: 44%;
  position: absolute;
  top: 0;
  right: 0;
}
.content {
  width: 50%;
  padding: 60px;
  padding-right: 0;
}
h1 {
  margin: 0;
  font-size: 30px;
}
a.starOnGit {
  text-decoration: none;
  background-color: rgba(2, 87, 233, 0.1);
  color: var(--pColor);
  border-radius: 2px;
  height: 50px;
  line-height: 50px;
  padding: 0 40px;
  margin: 30px auto;
  display: inline-block;
  font-weight: 600;
  transition: 0.3s ease;
}
a.starOnGit:hover {
  background-color: var(--pColor);
  color: #fff;
}
p {
  font-weight: 500;
  margin-top: 30px;
}
p a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}

@media all and (max-width: 780px) {
  .about {
    text-align: right;
    position: static;
  }
  img {
    position: static;
    width: 85%;
  }
  .content {
    width: 100%;
    padding: 40px;
    text-align: center;
    margin-top: 20px;
  }
  h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
  }
  p {
    line-height: 1.6;
  }
  a.starOnGit {
    text-align: center;
    background-color: var(--pColor);
    color: #fff;
  }
}
