<app-stpes-bar stepNumber="2"></app-stpes-bar>

<!-- Payment method -->
<div class="paymentForm">
  <h4>How would you like to pay <span>{{totalPriceAsString}} EGP</span></h4>
  <form>
    <div class="form-check">
      <!-- Visa or masterCard -->
      <input class="form-check-input" type="radio" name="paymentChoise" id="visa" checked value="option1" (click)="togglePaymentFields()">
      <label class="form-check-label" for="visa">Credit or Debit Cards</label>
      <div class="icons">
        <img src="assets/svg/mastercard.svg">
        <img src="assets/svg/visa.svg">
      </div>
    </div>
    <!-- Card Name-->
    <div class="payment-fields" *ngIf="PaymentFields">
      <!-- Card Number -->
      <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <input type="tel" class="form-control" id="cardNumber" placeholder="XXXX XXXX XXXX XXXX" maxlength="19" 
          name="numberOfCard" [(ngModel)]="NumberCardValue">
      </div>
      <!-- Card Name -->
      <div class="form-group">
        <label for="nameOnCard">Owner</label>
        <input type="text" class="form-control" id="nameOnCard">
      </div>
      <!-- Expiration -->
      <div class="form-group small">
        <label for="Expiration">Expiration</label>
        <input type="text" class="form-control" id="Expiration">
      </div>
      <!-- Cvv -->
      <div class="form-group small">
        <label for="cvv">CVV</label>
        <input type="text" class="form-control" id="cvv">
      </div>
    </div>
    <!-- Another choise => Cash on delivery -->
    <div class="form-check cashRadio">
      <input class="form-check-input" type="radio" name="paymentChoise" id="cash" value="option1" (click)="togglePaymentFields()">
      <label class="form-check-label" for="cash">Cash on delivery</label>
    </div>
    <div class="hasBtn">
      <button class="mainBtn" (click)="resetCart()" routerLink="/checkout/done">Next</button>
    </div>
  </form>

</div>