.cart {
  padding: 40px 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
/* Cart > Details */
.details {
  width: 700px;
  height: 100%;
  padding: 10px 30px;
  border: 1px solid #ddd;
  background-color: #fff;
  position: relative;
  z-index: 2;
}
.product {
  display: flex;
  position: relative;
  border-top: 2px dashed #f0f0f0;
  padding: 25px 0;
}
.product:first-of-type {
  border: 0;
}
.product_img {
  width: 140px;
  height: 110px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_img img {
  max-width: 100%;
  max-height: 100%;
}
/* Cart > Product > details > Content  */
.content > div {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
}
.name {
  font-size: 18px;
}
.price span {
  color: #787878;
  text-decoration: line-through;
  margin-right: 8px;
  opacity: 0.8;
}
.content .qty {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.qty span {
  margin-right: 14px;
}
.qty button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 600;
}
.qty button[disabled] {
  cursor: auto;
  opacity: 0.7;
}
.qty input {
  border: 0;
  background-color: #fff;
  width: 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-right: 10px;
}
.final_price span {
  font-weight: 700;
  color: var(--sColor);
  margin-left: 4px;
}

/* Icons */
.icons {
  position: absolute;
  top: 25px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.icons img {
  width: 23px;
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
}

/* SUMMARY */
.summary {
  padding: 16px 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 50px;
  width: 300px;
  position: fixed;
  top: 110px;
  right: 120px;
}
.summary h2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
/* Cart Summary > Content */
.summary ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.summary ul li label {
  font-weight: 500;
  font-size: 17px;
}

.summary ul li input {
  text-align: right;
  border: 0;
  background-color: transparent;
  font-weight: 600;
  font-size: 17px;
  width: 150px;
}
.summary ul li:last-of-type input {
  color: var(--sColor);
  font-size: 19px;
  font-weight: 700;
}
.summary .checkout_btn {
  width: 100%;
  height: 42px;
  line-height: 42px;
  background-color: var(--pColor);
  color: #fff;
  margin-top: 6px;
  font-size: 17px;
  font-weight: 600;
}
/* BLOB img */
.blob_img {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 1;
}

/* If cart empty */
.if_cart_empty {
  text-align: center;
}
.if_cart_empty img.empty {
  width: 400px;
  display: block;
  margin: auto;
  margin-top: 40px;
}
.if_cart_empty button {
  height: 46px;
  line-height: 46px;
  padding: 0 40px;
  background-color: var(--pColor);
  color: #fff;
  margin-top: 30px;
  font-size: 18px;
}
