<app-stpes-bar stepNumber="3"></app-stpes-bar>

<div class="container">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 696 696"><defs><style>.a,.b,.d{fill:none;}.a,.b{stroke:#0b9e0f;}.a{stroke-width:20px;}.b{stroke-width:30px;}.c{stroke:none;}</style></defs><g transform="translate(4009 -1446)"><g class="a" transform="translate(-4009 1446)"><circle class="c" cx="348" cy="348" r="348"/><circle class="d" cx="348" cy="348" r="338"/></g><path class="b" d="M-5034.232,1466.665l106.656,106.656,200.514-200.514,54.056-54.056" transform="translate(1192.732 347.749)"/></g></svg>

  <h1>Congratulations!</h1>
  <p>Your order is going to arrive soon</p>
  <button routerLink="/">go to shopping</button>
</div>