form {
  width: 600px;
  margin: 0 auto 50px;
  border: 1px solid #ddd;
  padding: 10px 24px;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 20px 0 12px;
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
}
h3 span {
  position: relative;
}
h3 span::before,
h3 span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(100% + 10px);
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #ddd;
}
h3 span::after {
  right: auto;
  left: calc(100% + 10px);
}
h3:last-of-type {
  border-top: 2px dashed #ddd;
  padding-top: 24px;
}
/* Field container */
.field-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.field-container:first-of-type {
  margin-bottom: 15px;
}
/* Form-group */
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-group.small {
  width: 48%;
}
input {
  padding: 12px;
}
input[readonly] {
  background-color: #f0f0f0;
}

label {
  position: relative;
}
label::after {
  content: "*";
  font-size: 18px;
  font-weight: 700;
  color: var(--pColor);
  margin-left: 3px;
}
label.not-required::after {
  opacity: 0;
}
.action {
  display: flex;
  justify-content: flex-end;
}
.submitBtn {
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  background-color: var(--pColor);
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}
.submitBtn[disabled] {
  cursor: auto;
  opacity: 0.6;
}
