.steps {
  padding: 0;
  margin: 60px auto 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step {
  display: flex;
  align-items: center;
  justify-content: center;
}
.step.active .number {
  border: 2px solid var(--sColor);
  color: var(--sColor);
  font-weight: 700;
}
.step .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ddd;
  color: #666;
  font-size: 16px;
  position: relative;
}
.step .number::after {
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}
.shipping .number::after {
  content: "shipping";
}
.payment .number::after {
  content: "payment";
}
.done .number::after {
  content: "done";
}
.step .line {
  height: 2px;
  width: 200px;
  background-color: #ddd;
}

form {
  width: 600px;
  margin: 0 auto 50px;
  border: 1px solid #ddd;
  padding: 10px 24px;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 20px 0 12px;
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
}
h3 span {
  position: relative;
}
h3 span::before,
h3 span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(100% + 10px);
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #ddd;
}
h3 span::after {
  right: auto;
  left: calc(100% + 10px);
}
h3:last-of-type {
  border-top: 2px dashed #ddd;
  padding-top: 24px;
}
/* Field container */
.field-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.field-container:first-of-type {
  margin-bottom: 15px;
}
/* Form-group */
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-group.small {
  width: 48%;
}
input {
  padding: 12px;
}
input[readonly] {
  background-color: #f0f0f0;
}

label {
  position: relative;
}
label::after {
  content: "*";
  font-size: 18px;
  font-weight: 700;
  color: var(--pColor);
  margin-left: 3px;
}
label.not-required::after {
  opacity: 0;
}
.hasBtn {
  display: flex;
  justify-content: flex-end;
}
.submitBtn {
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  background-color: var(--pColor);
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}
