<form>
  <h3><span>Personal information</span></h3>
  <div class="field-container">
    <div class="form-group small">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" >
    </div>
    <!-- / First name -->
    <div class="form-group small">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" >
    </div>
    <!-- / Last name -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" >
    </div>
  </div>
  <!-- / Personal information -->
  <h3><span>Contact information</span></h3>
  <div class="field-container">
    <!-- Country -->
    <div class="form-group small">
      <label class="not-required" for="country">Country</label>
      <input type="country" class="form-control" id="country" value="Egypt" readonly>
    </div>
    <!-- Phone -->
    <div class="form-group small">
      <label for="phone">Phone</label>
      <input type="phone" class="form-control" id="phone">
    </div>
    <!-- Town -->
    <div class="form-group small">
      <label for="town">town/City</label>
      <input type="town" class="form-control" id="town">
    </div>
    <!-- Postcode -->
    <div class="form-group small">
      <label class="not-required" for="postcode">Postcode</label>
      <input type="postcode" class="form-control" id="postcode">
    </div>
  </div>
  <!-- Address -->
  <div class="form-group col-xs-12">
    <label for="address">Address</label>
    <input type="address" class="form-control" id="address">
  </div>
  <!-- Nearest Landmark -->
  <div class="form-group col-xs-12">
    <label class="not-required" for="Landmark">Nearest Landmark</label>
    <input type="Landmark" class="form-control" id="Landmark">
  </div>
  <div class="action">
    <button class="submitBtn">Next</button>
  </div>
</form>
