.steps_bar {
  width: 500px;
  margin: 50px auto 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.step {
  display: flex;
  align-items: center;
}
.step.active .circle {
  border: 2px solid var(--sColor);
  color: var(--sColor);
  font-weight: bold;
}
.step.done .circle {
  border: 2px solid var(--sColor);
  background-color: var(--sColor);
  color: #fff;
  font-weight: bold;
}
.step.done .circle .step_name {
  color: var(--sColor);
}
.step.done .line {
  background-color: var(--sColor);
}
.step .circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #444;
  position: relative;
}
.circle img {
  width: 17px;
}
.step .line {
  width: 200px;
  height: 2px;
  background-color: #ddd;
}
.step:last-of-type .line {
  display: none;
}
.step .step_name {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
}

@media all and (max-width: 650px) {
  .steps_bar {
    display: none;
  }
}
