.categories {
  border: 1px solid #ddd;
  background-color: #fff;
}
.categories h4 {
  font-size: 18px;
  font-weight: 600;
  color: #2d2d2d;
  padding: 14px 16px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow_icon,
.category_selected {
  display: none;
}
.categories ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  user-select: none;
  display: flex;
  flex-direction: column;
}
.categories li {
  padding: 12px 16px;
  text-transform: capitalize;
  height: 46px;
  font-size: 15px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: 0.14s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.categories li:last-of-type {
  border-bottom: 0;
}
.categories li:hover,
li.active {
  background-color: #f0f0f0;
}
.categories li div {
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.categories li img {
  max-height: 36px;
  max-width: 25px;
}
.categories li img {
  flex: 3;
}

/* +++++++++++++++++ NEW +++++++++++++++++++++ */
@media (max-width: 900px) {
  h4 {
    cursor: pointer;
  }
  .arrow_icon {
    display: block;
    width: 15px;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .categories.show .arrow_icon {
    transform: rotate(90deg);
  }
  .category_selected {
    display: inline-block;
    margin-left: 7px;
    color: #787878;
    font-size: 16px;
  }
  .categories ul,
  .categories li {
    display: none;
  }
  .categories.show ul {
    display: block;
  }
  .categories.show li {
    display: flex;
  }
}
