form {
  width: 600px;
  padding: 30px;
  margin: 40px auto;
  border: 1px solid #ddd;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
h2 span {
  display: inline-block;
  position: relative;
  font-size: 20px;
  color: #444;
}

h2 span::after,
h2 span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  height: 2px;
  width: 30px;
  border-radius: 20px;
  background-color: #ccc;
}
h2 span::before {
  left: auto;
  right: calc(100% + 10px);
}

.input-group-text {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}
button {
  width: 100%;
  background-color: var(--pColor);
  color: #fff;
  font-size: 16px;
  padding: 4px 12px;
  margin-top: 10px;
}
