<div class="container">
  <form #newProductForm="ngForm" (ngSubmit)="addNewProduct(newProductForm)" novalidate>
    <h2><span>Add new product</span></h2>
    <div class="form-group">
      <label for="image" class="required">Image url</label>
      <input required type="text" class="form-control" id="image" name="img_url" #img_url
        [(ngModel)]=productModel.img_url>
    </div>
    <div class="form-group">
      <label for="name" class="required">Name of product</label>
      <input required type="text" class="form-control" id="name" name="name" #name [(ngModel)]=productModel.name>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="price" class="required">Price</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">EGP</div>
          </div>
          <input required type="number" class="form-control" id="price" name="price" #price
            [(ngModel)]=productModel.price>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="discount">discount</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">%</div>
          </div>
          <input required type="number" maxlength="2" class="form-control" id="discount" name="discount"
            #discount [(ngModel)]=productModel.discount>
        </div>
      </div>
      <!-- / -->
    </div>
    <div class="form-group">
      <label for="category" class="required">Category</label>
      <select class="form-control" id="category" name="category" #category [(ngModel)]=productModel.category>
        <option>Shoes</option>
        <option>T-shirt</option>
        <option>Shirt</option>
        <option>Suit</option>
        <option>Jacket</option>
        <option>Blazer</option>
        <option>Pants</option>
        <option>Coats</option>
      </select>
    </div>
    <!-- /  -->
    <div class="form-group">
      <label for="description">Add description</label>
      <textarea class="form-control" rows="3" id="description" name="description" #description
        [(ngModel)]=productModel.description></textarea>
    </div>
    <!-- / -->
    <button class="btn">Submit</button>
  </form>
</div>