.container {
  margin: 30px;
  display: flex;
  justify-content: flex-end;
}
/* Products area */
.categories {
  width: 220px;
  margin-right: 25px;
}
.products {
  width: calc(100% - 245px);
}

@media (max-width: 900px) {
  .container {
    display: block;
    margin: 30px 20px;
  }
  .categories {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
