:root {
  --pColor: #0255e9;
  --sColor: #ef5013;
}
* {
  box-sizing: border-box;
}
/* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
/* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
html,
body {
  height: 100%;
}

body {
  padding: 0;
  padding-top: 80px;
  margin: 0;
  font-family: Roboto, arial;
}
.container {
  padding: 20px 60px;
}
button {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.form-control {
  height: 42px;
  line-height: 42px;
  width: 100%;
  padding: 0 12px;
  border: 1px solid #ddd;
  border-radius: 1px;
}
label {
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 14px;
}
.text-danger {
  color: #dc3545;
}

input.invalid {
  border: 1px solid #dc3545;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
form .mainBtn {
  width: 100%;
  padding: 12px;
  background-color: var(--pColor);
  color: #fff;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0 15px;
}
button[disabled] {
  opacity: 0.7;
  cursor: auto;
}
