/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
:root {
  --pColor: #0255e9;
  --sColor: #ef5013;
}
* {
  box-sizing: border-box;
}
/* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
/* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
button:focus {
  outline: 0;
}
.form-control {
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 1px;
}
label {
  font-weight: 500;
  margin-bottom: 6px;
  font-size: 15px;
}
